.screen {
	display: none;
}
.handheld {
	display: block;
}
body {
	margin: 0px;
	background: none;
	background-color: #eaeaea;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;

}
.center {
	margin-left: auto;
	margin-right: auto;
}
#container {
	width: 100%;
	background: none;
}
.header {
	margin-left: 0px;
	background-color: white;
	width: 100%;
}
#red-band {
	background-color: #cc0000;
	height: 12px;
}
#banner {
	display:none;
}
#banner-mobile {
	width: 133px;
	height: 62px;
	background: url('mGAIG-Logo.png') no-repeat;
	background-size: 133px 62px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}
#tag-line {
	font-family: "Arial Narrow", Arial;
	font-weight: bold;
	font-size: 12px;
	color: #787878;
	width: 50%;
	margin-bottom: 15px;
	text-align: center;
}
#header-rule {
	border-top: 1px solid #dedede;
	margin-left: 10px;
	margin-right: 10px;
}
.content {
	width: 100%;
	margin-left: 0px;
	background-color: white;
}
.login-form {
	background-color: white;
	padding-left: 0px;
	padding-bottom: 12px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.login-prompt {
	font-family: "Arial Narrow", Arial;
	font-weight: bold;
	font-size: 14px;
	color: #007A85;
	margin-bottom: 10px;
}
.form-fields {
	padding-bottom: 8px;
}
.form-fields label {
	font-family: "Arial Narrow", Arial;
	font-size: 12px;
	color: #666666;
	margin-bottom: 5px;
}
.form-fields input {
	border: 1px solid #666666;
}
submit-button {
	cursor: pointer;
	border: 0px;
	width: 62px;
	height: 30px;
	background:url('login-button.png') no-repeat;
	background-size: 62px 60px;
	float:left;
}
.submit-button:hover, .submit-button:active {
	cursor: pointer;
	border: 0px;
	width: 62px;
	height: 30px;
	background:url('login-button.png') 0px -30px no-repeat;
	background-size: 62px 60px;
	float:left;
}
.login-form form {
	margin-bottom: 42px;
}
.error {
	font-family: Arial;
	font-size: 11px;
	color: #ff0000;
}
#footer-container {
	width: 100%;
	background: none;
	background-color: #eaeaea;	
}
.footer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	padding-bottom: 0px;
}
.footer .logo {
	float: inherit;
	width: 115px;
	height: 62px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background:url('mAFG_logo.jpg') no-repeat;
}
.footer div {
	width: 100%;
	font-family: Arial;
	font-size: 10px;
	color: #333333;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 5px;
}
#bottom-cap {
	background: none;
	width: 100%;
	height: 0px;
	font-family: Arial;
	font-size: 10px;
	color: #333333;
}
#footer-rule {
	border-top: 1px solid #dedede;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	height: 5px;
}
#legal {
	width: 100%;
	margin-top: 10px;
	font-family: Arial;
	font-size: 10px;
	color: #333333;
	background-color: #eaeaea;
}
#legal #copy {
	float: inherit;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
#legal #links {
	float: inherit;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 10px;
}
a, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #333333;
}