/*----------------------------------------------------------*/
/* Overrides for the DCTTemplates family (Commercial Lines) */
/*----------------------------------------------------------*/

.x_Height22 { height:22px; }

.LineStateDetail_body .formTable[tabletype="acrossAboveOnce"],
.LineStateDetail_body .formTable[tabletype="acrossAboveRepeat"],
.EndorsementDetail_body .formTable {
	width: auto;
}

.downLayout.x_BorderLightGray > .acrossLayout > .formTable {
	margin-bottom: 10px;
}

.downLayout.x_BorderLightGray > .g-groupAction {
	margin-bottom: 0;
}