.x_CropReadOnlyField
{
	overflow:hidden;
}

.TransACT .acrossLayout > div
,.TransACT .acrossFieldGroup > div
,.Endorse .acrossLayout > div
,.Endorse .acrossFieldGroup > div
,.Cancel .acrossLayout > div
,.Cancel .acrossFieldGroup > div
,.CancelPending .acrossLayout > div
,.CancelPending .acrossFieldGroup > div
,.Renew .acrossLayout > div
,.Renew .acrossFieldGroup > div
,.NonRenew .acrossLayout > div
,.NonRenew .acrossFieldGroup > div
,.Information .acrossLayout > div
,.Information .acrossFieldGroup > div
,.Suspend .acrossLayout > div
,.Suspend .acrossFieldGroup > div
{
	float: none;
	display: inline-block;
	vertical-align: bottom;
}

.TransACT .acrossFieldGroup > .acrossAboveFormLabel
,.Endorse .acrossFieldGroup > .acrossAboveFormLabel
,.Cancel .acrossFieldGroup > .acrossAboveFormLabel
,.CancelPending .acrossFieldGroup > .acrossAboveFormLabel
,.Renew .acrossFieldGroup > .acrossAboveFormLabel
,.NonRenew .acrossFieldGroup > .acrossAboveFormLabel
,.Information .acrossFieldGroup > .acrossAboveFormLabel
,.Suspend .acrossFieldGroup > .acrossAboveFormLabel
{
	display: block;
}

.TransACT .acrossAboveFormLabel > label
,.Endorse .acrossAboveFormLabel > label
,.Cancel .acrossAboveFormLabel > label
,.CancelPending .acrossAboveFormLabel > label
,.Renew .acrossAboveFormLabel > label
,.NonRenew .acrossAboveFormLabel > label
,.Information .acrossAboveFormLabel > label
,.Suspend .acrossAboveFormLabel > label
{
	float: none;
}